@using EmployeeManager.Web.Services
@model EmployeeManager.Web.ViewModals.EmployeeAddVM
@inject ISelectListService SelectListService
@{
    ViewData["Title"] = "Add Employee";
}
@if(TempData["Error"] is not null)
{
    <div class = "alert alert-danger">
        @TempData["Error"]
    </div>
}
<form asp-controller="Employee" asp-action="Add" method="post">
    <h4>User data</h4>
    <div class="form-group">
        <label asp-for="Username">Username</label>
        <input required type="text" asp-for="Username" class="form-control">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Username">Password</label>
        <input required type="text" asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Username">Email</label>
        <input required type="text" asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <h4 class="mt-3">Employee data</h4>
    <div class="form-group" >
        <label asp-for="FirstName">First name</label>
        <input required type="text" asp-for="FirstName" class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last name</label>
        <input required type="text" asp-for="LastName" class="form-control" >
    </div>
    <div class="form-group">
        <label asp-for="DepartmentId">Departments</label>
        <select asp-for="DepartmentId" class="form-select" asp-items="SelectListService.GetDepartments()"></select>
    </div>
     <div class="form-group">
            <label asp-for="BirthDate">Birth date</label>
            <input asp-for="BirthDate" type="date" class="form-select">
        </div>
    <button type="submit" class="btn btn-success mt-3">Add user</button>
</form>